Downloads/DHT-11.json
[
    {
        "id": "ff35eb680e322ef4",
        "type": "inject",
        "z": "b7cedfbddc8003b3",
        "name": "DHT11",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "edce8280820c1fe4"
            ]
        ]
    },
    {
        "id": "6b8262a1611b6093",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "dht11 temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "880c53b71f633491",
        "type": "change",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "720e51ee3fe30771",
                "561c628131c71929",
                "042db0e4858f7609"
            ]
        ]
    },
    {
        "id": "042db0e4858f7609",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "dht11 humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "0d562ee9ef7db82b",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Temperature",
        "group": "433223190eb9c910",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "720e51ee3fe30771",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Humidity",
        "group": "433223190eb9c910",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "b48b7fc6b3301b70",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Tmp.chart",
        "group": "319273e4.50aa4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Tmp.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0d84d9",
            "#aec7e8",
            "#ff7f0e",
            "#0ae60a",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "561c628131c71929",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Hum.chart",
        "group": "319273e4.50aa4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Hum.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "40",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0d84d9",
            "#aec7e8",
            "#ff7f0e",
            "#0ae60a",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b2c29d6cf4fcc4",
        "type": "trigger",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "63e0ff3d56f9ca5b"
            ]
        ]
    },
    {
        "id": "6106fdbabcac634b",
        "type": "comment",
        "z": "b7cedfbddc8003b3",
        "name": "라즈베리파이_DHT11_온도, 습도",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "e8bc68030119df9e",
        "type": "function",
        "z": "b7cedfbddc8003b3",
        "name": "function 9",
        "func": "var TEMP = msg.payload;\nmsg.payload = TEMP;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "b48b7fc6b3301b70",
                "0d562ee9ef7db82b",
                "6b8262a1611b6093",
                "b7b2c29d6cf4fcc4"
            ]
        ]
    },
    {
        "id": "edce8280820c1fe4",
        "type": "rpi-dht22",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": 4,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "e8bc68030119df9e",
                "880c53b71f633491"
            ]
        ]
    },
    {
        "id": "63e0ff3d56f9ca5b",
        "type": "rpi-gpio out",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "pin": "25",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "433223190eb9c910",
        "type": "ui_group",
        "name": "작업장 현황",
        "tab": "b9a154fd549f6487",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "319273e4.50aa4c",
        "type": "ui_group",
        "name": "실시간 차트",
        "tab": "b9a154fd549f6487",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9a154fd549f6487",
        "type": "ui_tab",
        "name": "측정값 센서부 프로토타입",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]