.node-red/.flows.json.backup
[
    {
        "id": "ea792648b179fccd",
        "type": "tab",
        "label": "기능 구현 노드들 정리",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7cedfbddc8003b3",
        "type": "tab",
        "label": "측정값 센서부",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1b27cf5eb37c997e",
        "type": "tab",
        "label": "raspi_camera",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e87d0029a296bd47",
        "type": "tab",
        "label": "하드웨어 제어부",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "55d9b8afd593faf9",
        "type": "tab",
        "label": "데이터베이스",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c9ce19fa38234f63",
        "type": "tab",
        "label": "MQTT IOT 노드창",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "310ea8f8.e72128",
        "type": "tab",
        "label": "websocket stream",
        "disabled": false,
        "info": ""
    },
    {
        "id": "391850e4b48a4700",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "b9a154fd549f6487",
        "type": "ui_tab",
        "name": "측정값 센서부 프로토타입",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "2da2e4e025b7a711",
        "type": "ui_group",
        "name": "전원 수동 조작",
        "tab": "01535ddb89708fbb",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8e0c52cb151970a8",
        "type": "ui_group",
        "name": "카메라",
        "tab": "01535ddb89708fbb",
        "order": 2,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "319273e4.50aa4c",
        "type": "ui_group",
        "name": "실시간 차트",
        "tab": "b9a154fd549f6487",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "394331c.fdd94ce",
        "type": "arduino-board",
        "device": "/dev/ttyACM0"
    },
    {
        "id": "01535ddb89708fbb",
        "type": "ui_tab",
        "name": "하드웨어 제어부 프로토타입",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c76f180838209a10",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "524d85f.8ebbc7c",
        "type": "websocket-listener",
        "path": "/ws/cam",
        "wholemsg": "false"
    },
    {
        "id": "a8e20669da1bbd3b",
        "type": "ui_group",
        "name": "라즈베리파이 4B 현황",
        "tab": "b9a154fd549f6487",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "fb92d78c.e6bd18",
        "type": "ui_group",
        "name": "NTC3950 온도",
        "tab": "9b36500e.eacd",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9b36500e.eacd",
        "type": "ui_tab",
        "name": "연구실",
        "icon": "account_balance",
        "order": 4
    },
    {
        "id": "5d51bb08cf97012a",
        "type": "ui_tab",
        "name": "데이터베이스",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dabae9a65823ac63",
        "type": "ui_group",
        "name": "온도",
        "tab": "5d51bb08cf97012a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9731580e0c7d2eb4",
        "type": "ui_group",
        "name": "습도",
        "tab": "5d51bb08cf97012a",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "1f56e0dac9ca26df",
        "type": "ui_group",
        "name": "수분",
        "tab": "5d51bb08cf97012a",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8aea4cbc78da70c8",
        "type": "ui_group",
        "name": "빛",
        "tab": "5d51bb08cf97012a",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "433223190eb9c910",
        "type": "ui_group",
        "name": "작업장 현황",
        "tab": "b9a154fd549f6487",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "835c6d6bccf9a8af",
        "type": "sqlitedb",
        "db": "/tmp/sqlite",
        "mode": "RWC"
    },
    {
        "id": "6ba8b096e9e67f0b",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "작동",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "토픽1",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 60,
        "wires": [
            [
                "98b208ba2b03f961"
            ]
        ]
    },
    {
        "id": "98b208ba2b03f961",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "작동확인",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 60,
        "wires": []
    },
    {
        "id": "7eb6fcecb7e07848",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "작동2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "토픽2",
        "payload": "안녕하세요",
        "payloadType": "str",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "98b208ba2b03f961"
            ]
        ]
    },
    {
        "id": "99f1714b6cfd6ef3",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "조건1_20",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "조건1",
        "payload": "20",
        "payloadType": "num",
        "x": 180,
        "y": 200,
        "wires": [
            [
                "898022b478af266f",
                "cebd92ab3e31aae6",
                "cf0eca4be97f717d",
                "ab96d7db07a0eba2",
                "4a5d0cce6e6a6b56"
            ]
        ]
    },
    {
        "id": "f8f93ff23991d38b",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "조건2_19",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "조건2",
        "payload": "19",
        "payloadType": "num",
        "x": 180,
        "y": 280,
        "wires": [
            [
                "898022b478af266f"
            ]
        ]
    },
    {
        "id": "41b09596f9c57aa6",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "조건결과2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "898022b478af266f",
        "type": "switch",
        "z": "ea792648b179fccd",
        "name": "switch 조건판단",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "20",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "40",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 240,
        "wires": [
            [
                "1f8fdcecea6ed579"
            ],
            [
                "41b09596f9c57aa6"
            ]
        ]
    },
    {
        "id": "cebd92ab3e31aae6",
        "type": "change",
        "z": "ea792648b179fccd",
        "name": "값의 이동 change",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "payload1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 360,
        "wires": [
            [
                "29ca5abf820af930"
            ]
        ]
    },
    {
        "id": "29ca5abf820af930",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 360,
        "wires": []
    },
    {
        "id": "9d736875cd36fffa",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "inject1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic1",
        "payload": "Hello",
        "payloadType": "str",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "e4ad37d2d842dcc8"
            ]
        ]
    },
    {
        "id": "ae2cf2ce9fb16e85",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "inject2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic2",
        "payload": "Good Morning",
        "payloadType": "str",
        "x": 90,
        "y": 880,
        "wires": [
            [
                "e4ad37d2d842dcc8"
            ]
        ]
    },
    {
        "id": "e4ad37d2d842dcc8",
        "type": "function",
        "z": "ea792648b179fccd",
        "name": "function 1",
        "func": "var payload = msg.payload;\nmsg.payload=payload.toUpperCase();\nvar topic = msg.topic;\nmsg.topic = topic.toUpperCase();\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 840,
        "wires": [
            [
                "f648df950d72cdac"
            ]
        ]
    },
    {
        "id": "f648df950d72cdac",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 840,
        "wires": []
    },
    {
        "id": "875711db2b33a322",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "inject2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic2",
        "payload": "Good Morning",
        "payloadType": "str",
        "x": 90,
        "y": 1060,
        "wires": [
            [
                "39334c13ddcea8ea"
            ]
        ]
    },
    {
        "id": "7bc4b5d1afb9413d",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "inject1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Topic1",
        "payload": "Hello",
        "payloadType": "str",
        "x": 90,
        "y": 980,
        "wires": [
            [
                "39334c13ddcea8ea"
            ]
        ]
    },
    {
        "id": "39334c13ddcea8ea",
        "type": "function",
        "z": "ea792648b179fccd",
        "name": "function 2",
        "func": "var topic = msg.topic;\nif (topic==\"Topic1\")\n{\n    return [msg,null];\n}\nif (topic==\"Topic2\")\n{\n    return [null,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 1020,
        "wires": [
            [
                "967b244df77e8cf0"
            ],
            [
                "12e24c3aed6e8dd2"
            ]
        ]
    },
    {
        "id": "967b244df77e8cf0",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 980,
        "wires": []
    },
    {
        "id": "12e24c3aed6e8dd2",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1040,
        "wires": []
    },
    {
        "id": "48c9502185849fae",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 1160,
        "wires": [
            []
        ]
    },
    {
        "id": "b02c123f80f510ed",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1160,
        "wires": []
    },
    {
        "id": "5170073c90ce6694",
        "type": "change",
        "z": "ea792648b179fccd",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 1280,
        "wires": [
            [
                "fedceb419241547a"
            ]
        ]
    },
    {
        "id": "fedceb419241547a",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 1280,
        "wires": []
    },
    {
        "id": "d87739120f9d1c66",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 1360,
        "wires": [
            []
        ]
    },
    {
        "id": "77999f985d26ddfd",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1360,
        "wires": []
    },
    {
        "id": "c726cf462744fdf1",
        "type": "function",
        "z": "ea792648b179fccd",
        "name": "function 3",
        "func": "var humi = msg.humidity;\nmsg.payload = humi;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 1440,
        "wires": [
            [
                "f6c75d82f0bfebff"
            ]
        ]
    },
    {
        "id": "f6c75d82f0bfebff",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 1440,
        "wires": []
    },
    {
        "id": "cf0eca4be97f717d",
        "type": "range",
        "z": "ea792648b179fccd",
        "minin": "0",
        "maxin": "50",
        "minout": "0",
        "maxout": "100",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "range 범위판단",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "de31d182d2aaebcb"
            ]
        ]
    },
    {
        "id": "de31d182d2aaebcb",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "범위결과1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 420,
        "wires": []
    },
    {
        "id": "ab96d7db07a0eba2",
        "type": "delay",
        "z": "ea792648b179fccd",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "76419d3f4b92db52"
            ]
        ]
    },
    {
        "id": "76419d3f4b92db52",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "딜레이결과1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 480,
        "wires": []
    },
    {
        "id": "4a5d0cce6e6a6b56",
        "type": "trigger",
        "z": "ea792648b179fccd",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 400,
        "y": 540,
        "wires": [
            [
                "c6af14fe6ed9d8e4"
            ]
        ]
    },
    {
        "id": "c6af14fe6ed9d8e4",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "트리거결과1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 540,
        "wires": []
    },
    {
        "id": "d6fb67bb3450fafe",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "조건1_30",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "조건1",
        "payload": "30",
        "payloadType": "num",
        "x": 180,
        "y": 580,
        "wires": [
            [
                "7a6eea9d9a5839e1"
            ]
        ]
    },
    {
        "id": "d1c8a43ce209d28c",
        "type": "inject",
        "z": "ea792648b179fccd",
        "name": "조건2_40",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "조건2",
        "payload": "40",
        "payloadType": "num",
        "x": 180,
        "y": 640,
        "wires": [
            [
                "7a6eea9d9a5839e1"
            ]
        ]
    },
    {
        "id": "7a6eea9d9a5839e1",
        "type": "smooth",
        "z": "ea792648b179fccd",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "10",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 400,
        "y": 620,
        "wires": [
            [
                "e28d6d220fa149f3"
            ]
        ]
    },
    {
        "id": "e28d6d220fa149f3",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "평균 smooth 결과1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 620,
        "wires": []
    },
    {
        "id": "5297a1a44104b80c",
        "type": "link in",
        "z": "ea792648b179fccd",
        "name": "link2",
        "links": [
            "1f8fdcecea6ed579"
        ],
        "x": 1005,
        "y": 200,
        "wires": [
            [
                "35c06ebaa0b73866"
            ]
        ]
    },
    {
        "id": "1f8fdcecea6ed579",
        "type": "link out",
        "z": "ea792648b179fccd",
        "name": "link1",
        "mode": "link",
        "links": [
            "5297a1a44104b80c"
        ],
        "x": 705,
        "y": 200,
        "wires": []
    },
    {
        "id": "35c06ebaa0b73866",
        "type": "debug",
        "z": "ea792648b179fccd",
        "name": "조건결과1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 200,
        "wires": []
    },
    {
        "id": "ff35eb680e322ef4",
        "type": "inject",
        "z": "b7cedfbddc8003b3",
        "name": "DHT11",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "edce8280820c1fe4"
            ]
        ]
    },
    {
        "id": "6b8262a1611b6093",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "dht11 temperature",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 180,
        "wires": []
    },
    {
        "id": "880c53b71f633491",
        "type": "change",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "humidity",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "720e51ee3fe30771",
                "561c628131c71929",
                "042db0e4858f7609"
            ]
        ]
    },
    {
        "id": "042db0e4858f7609",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "dht11 humidity",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 440,
        "wires": []
    },
    {
        "id": "0d562ee9ef7db82b",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Temperature",
        "group": "433223190eb9c910",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperature",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "50",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "20",
        "seg2": "35",
        "diff": false,
        "className": "",
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "720e51ee3fe30771",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Humidity",
        "group": "433223190eb9c910",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#0000ff",
            "#00ff00",
            "#ff0000"
        ],
        "seg1": "30",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 700,
        "y": 360,
        "wires": []
    },
    {
        "id": "b48b7fc6b3301b70",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Tmp.chart",
        "group": "319273e4.50aa4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Tmp.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "35",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0d84d9",
            "#aec7e8",
            "#ff7f0e",
            "#0ae60a",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 440,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "561c628131c71929",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Hum.chart",
        "group": "319273e4.50aa4c",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Hum.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "40",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#0d84d9",
            "#aec7e8",
            "#ff7f0e",
            "#0ae60a",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 710,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "b7b2c29d6cf4fcc4",
        "type": "trigger",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 220,
        "wires": [
            [
                "63e0ff3d56f9ca5b"
            ]
        ]
    },
    {
        "id": "6106fdbabcac634b",
        "type": "comment",
        "z": "b7cedfbddc8003b3",
        "name": "라즈베리파이_DHT11_온도, 습도",
        "info": "",
        "x": 150,
        "y": 20,
        "wires": []
    },
    {
        "id": "9b282e16e9c85784",
        "type": "comment",
        "z": "b7cedfbddc8003b3",
        "name": "raspi4_CPU_온도체크",
        "info": "",
        "x": 120,
        "y": 840,
        "wires": []
    },
    {
        "id": "d266aad54a04c502",
        "type": "inject",
        "z": "b7cedfbddc8003b3",
        "name": "CPU.tem",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 110,
        "y": 880,
        "wires": [
            [
                "4f5d687e286e83ec"
            ]
        ]
    },
    {
        "id": "5f6a5b501a098b31",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "CPU",
        "group": "a8e20669da1bbd3b",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "CPU",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 880,
        "wires": []
    },
    {
        "id": "4f5d687e286e83ec",
        "type": "file in",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "filename": "/sys/class/thermal/thermal_zone0/temp",
        "filenameType": "str",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 370,
        "y": 880,
        "wires": [
            [
                "6b4040c8377c167e"
            ]
        ]
    },
    {
        "id": "6b4040c8377c167e",
        "type": "function",
        "z": "b7cedfbddc8003b3",
        "name": "function 6",
        "func": "var CPU = msg.payload;\nlet a = parseFloat(CPU);\nlet b = a/1000;\nlet c = b.toFixed(1);\nmsg.payload =c;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 880,
        "wires": [
            [
                "5f6a5b501a098b31",
                "1422317cb89af77d"
            ]
        ]
    },
    {
        "id": "1422317cb89af77d",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "CPU",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 920,
        "wires": []
    },
    {
        "id": "e8bc68030119df9e",
        "type": "function",
        "z": "b7cedfbddc8003b3",
        "name": "function 9",
        "func": "var TEMP = msg.payload;\nmsg.payload = TEMP;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 140,
        "wires": [
            [
                "b48b7fc6b3301b70",
                "0d562ee9ef7db82b",
                "6b8262a1611b6093",
                "b7b2c29d6cf4fcc4"
            ]
        ]
    },
    {
        "id": "edce8280820c1fe4",
        "type": "rpi-dht22",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "topic": "rpi-dht22",
        "dht": "11",
        "pintype": "0",
        "pin": 4,
        "x": 260,
        "y": 60,
        "wires": [
            [
                "e8bc68030119df9e",
                "880c53b71f633491"
            ]
        ]
    },
    {
        "id": "63e0ff3d56f9ca5b",
        "type": "rpi-gpio out",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "pin": "25",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 660,
        "y": 220,
        "wires": []
    },
    {
        "id": "30f24219bad87ddb",
        "type": "smooth",
        "z": "b7cedfbddc8003b3",
        "name": "",
        "property": "payload",
        "action": "mean",
        "count": "5",
        "round": "",
        "mult": "single",
        "reduce": false,
        "x": 420,
        "y": 560,
        "wires": [
            [
                "5a46a7d595bf8a40",
                "03a7c39b547a7a3b",
                "912cb1c590a58fc0"
            ]
        ]
    },
    {
        "id": "23ec74b4c4bb3f15",
        "type": "arduino in",
        "z": "b7cedfbddc8003b3",
        "name": "A0 조도센서",
        "pin": "0",
        "state": "ANALOG",
        "arduino": "394331c.fdd94ce",
        "x": 90,
        "y": 560,
        "wires": [
            [
                "5b2d4e24bd641cad"
            ]
        ]
    },
    {
        "id": "dbf426bcaafa3d8c",
        "type": "comment",
        "z": "b7cedfbddc8003b3",
        "name": "아두이노_CDS 조도센서_빛",
        "info": "",
        "x": 140,
        "y": 520,
        "wires": []
    },
    {
        "id": "5b2d4e24bd641cad",
        "type": "delay",
        "z": "b7cedfbddc8003b3",
        "name": "5초",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "12",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "30f24219bad87ddb"
            ]
        ]
    },
    {
        "id": "5a46a7d595bf8a40",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Lux",
        "group": "433223190eb9c910",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Lux",
        "label": "Cds",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 610,
        "y": 560,
        "wires": []
    },
    {
        "id": "03a7c39b547a7a3b",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Lux.chart",
        "group": "319273e4.50aa4c",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Lux.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 620,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "912cb1c590a58fc0",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "조도센서값",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 640,
        "wires": []
    },
    {
        "id": "c01c8e13b5587dab",
        "type": "comment",
        "z": "b7cedfbddc8003b3",
        "name": "아두이노_토양(수분감지)센서_water",
        "info": "",
        "x": 160,
        "y": 700,
        "wires": []
    },
    {
        "id": "94fdab1690e00380",
        "type": "arduino in",
        "z": "b7cedfbddc8003b3",
        "name": "A1 토양센서",
        "pin": "1",
        "state": "ANALOG",
        "arduino": "394331c.fdd94ce",
        "x": 90,
        "y": 740,
        "wires": [
            [
                "7d2535dc98f80dde"
            ]
        ]
    },
    {
        "id": "7d2535dc98f80dde",
        "type": "delay",
        "z": "b7cedfbddc8003b3",
        "name": "5초",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "12",
        "nbRateUnits": "1",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "4d58cdd2f224a061",
                "9e08802d2c7e1181",
                "57747c7a98e8c7a1"
            ]
        ]
    },
    {
        "id": "57747c7a98e8c7a1",
        "type": "debug",
        "z": "b7cedfbddc8003b3",
        "name": "수분센서값",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 820,
        "wires": []
    },
    {
        "id": "9e08802d2c7e1181",
        "type": "ui_chart",
        "z": "b7cedfbddc8003b3",
        "name": "Wat.chart",
        "group": "319273e4.50aa4c",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Wat.chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1023",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 420,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "4d58cdd2f224a061",
        "type": "ui_gauge",
        "z": "b7cedfbddc8003b3",
        "name": "Water value",
        "group": "433223190eb9c910",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water value",
        "label": "Water level",
        "format": "{{value}}",
        "min": 0,
        "max": "1023",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 430,
        "y": 740,
        "wires": []
    },
    {
        "id": "f0b634bdf4d61aad",
        "type": "debug",
        "z": "1b27cf5eb37c997e",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 80,
        "wires": []
    },
    {
        "id": "ba46ea6b8d2bbc74",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b4d73b3b708505e5"
            ]
        ]
    },
    {
        "id": "53caaaf9cbdf99b8",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "Capture the image from IP camera 사용x",
        "info": "",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "b4d73b3b708505e5",
        "type": "camerapi-takephoto",
        "z": "1b27cf5eb37c997e",
        "filemode": "1",
        "filename": "imageJPEG",
        "filedefpath": "0",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "jpeg",
        "resolution": "2",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 280,
        "y": 80,
        "wires": [
            [
                "f0b634bdf4d61aad"
            ]
        ]
    },
    {
        "id": "a9a55c3826ffc139",
        "type": "http request",
        "z": "1b27cf5eb37c997e",
        "name": "imageRequest",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.45.59:1880/Image.JPEG",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 180,
        "wires": [
            [
                "70403a9722cd0a8e",
                "2dffa8ebb71cb547",
                "187d1783ee1d0a76"
            ]
        ]
    },
    {
        "id": "b7716ce9e6f059c3",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "regularRequest",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "a6ed9760b3897124"
            ]
        ]
    },
    {
        "id": "2dffa8ebb71cb547",
        "type": "debug",
        "z": "1b27cf5eb37c997e",
        "name": "debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 260,
        "wires": []
    },
    {
        "id": "187d1783ee1d0a76",
        "type": "base64",
        "z": "1b27cf5eb37c997e",
        "name": "convertingToBase64",
        "action": "",
        "property": "payload",
        "x": 820,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "70403a9722cd0a8e",
        "type": "image",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "width": 200,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 560,
        "y": 220,
        "wires": []
    },
    {
        "id": "a6ed9760b3897124",
        "type": "camerapi-takephoto",
        "z": "1b27cf5eb37c997e",
        "filemode": "1",
        "filename": "Image.JPEG",
        "filedefpath": "0",
        "filepath": "/home/pi/Pictures/",
        "fileformat": "jpeg",
        "resolution": "1",
        "rotation": "0",
        "fliph": "0",
        "flipv": "0",
        "brightness": "50",
        "contrast": "0",
        "sharpness": "0",
        "quality": "80",
        "imageeffect": "none",
        "exposuremode": "auto",
        "iso": "0",
        "agcwait": "1.0",
        "led": "0",
        "awb": "auto",
        "name": "",
        "x": 340,
        "y": 180,
        "wires": [
            [
                "a9a55c3826ffc139"
            ]
        ]
    },
    {
        "id": "e38b7dd8d20d2ebd",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 캡처 신버전 사용x",
        "info": "Image preview node:\nnode-red-contrib-image-output",
        "x": 130,
        "y": 140,
        "wires": []
    },
    {
        "id": "6c3d2204a1767120",
        "type": "http request",
        "z": "1b27cf5eb37c997e",
        "name": "imageRequest",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.45.59:8080/?action=stream",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 560,
        "y": 340,
        "wires": [
            [
                "f598eab3fe39a5da",
                "9d35da987e4d929b",
                "8967013cdfbc4b0d"
            ]
        ]
    },
    {
        "id": "0187f4037af5c9f9",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "regularRequest",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "6c3d2204a1767120"
            ]
        ]
    },
    {
        "id": "9d35da987e4d929b",
        "type": "debug",
        "z": "1b27cf5eb37c997e",
        "name": "debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 420,
        "wires": []
    },
    {
        "id": "72dec0514b662d54",
        "type": "ui_template",
        "z": "1b27cf5eb37c997e",
        "group": "8e0c52cb151970a8",
        "name": "DashboardViewer",
        "order": 7,
        "width": "12",
        "height": "12",
        "format": "<iframe scrolling=no marginwidth=0 marginheight=0 frameborder=0 height=1024 width=720\n    src=\"http://192.168.219.103:8080/?action=stream\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 110,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "8967013cdfbc4b0d",
        "type": "base64",
        "z": "1b27cf5eb37c997e",
        "name": "convertingToBase64",
        "action": "",
        "property": "payload",
        "x": 820,
        "y": 340,
        "wires": [
            [
                "c54e2ad81efe72ee"
            ]
        ]
    },
    {
        "id": "f598eab3fe39a5da",
        "type": "image",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "width": 200,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 560,
        "y": 380,
        "wires": []
    },
    {
        "id": "7a1e2afeb49b535a",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 스트리밍 구버전 사용x",
        "info": "Image preview node:\nnode-red-contrib-image-output",
        "x": 140,
        "y": 300,
        "wires": []
    },
    {
        "id": "c54e2ad81efe72ee",
        "type": "function",
        "z": "1b27cf5eb37c997e",
        "name": "base64 전처리",
        "func": "msg.payload = \"data:image/png;base64,\" + msg.payload; msg.payload = \"data:image/png;base64,\" + msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1080,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "70092d11c3e111eb",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 스트리밍 신버전 사용 중",
        "info": "Image preview node:\nnode-red-contrib-image-output",
        "x": 150,
        "y": 480,
        "wires": []
    },
    {
        "id": "1583847dbee6de4f",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 스트리밍 미구현 ",
        "info": "",
        "x": 120,
        "y": 580,
        "wires": []
    },
    {
        "id": "33f842bca2bed418",
        "type": "base64",
        "z": "1b27cf5eb37c997e",
        "name": "Encode",
        "action": "",
        "property": "payload",
        "x": 740,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "ef3657768464817e",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "Start Stream",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 617,
        "wires": [
            [
                "024c949c1bb90ec2"
            ]
        ]
    },
    {
        "id": "024c949c1bb90ec2",
        "type": "change",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "http://192.168.45.158:1880/image.JPEG",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 306,
        "y": 617,
        "wires": [
            [
                "888d44f9e29ba521"
            ]
        ]
    },
    {
        "id": "888d44f9e29ba521",
        "type": "multipart-decoder",
        "z": "1b27cf5eb37c997e",
        "name": "MJPEG Encoder",
        "ret": "bin",
        "url": "http://192.168.45.158:1880/image.JPEG",
        "tls": "",
        "authentication": "none",
        "delay": "5",
        "maximum": "10000000",
        "blockSize": "1",
        "enableLog": "off",
        "x": 560,
        "y": 680,
        "wires": [
            [
                "33f842bca2bed418"
            ],
            []
        ]
    },
    {
        "id": "b8e4eabac27b37bd",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "Pause stream",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 119.00001525878906,
        "y": 656,
        "wires": [
            [
                "442a578ff0f74217"
            ]
        ]
    },
    {
        "id": "3fc94a849a5937ba",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "Resume stream",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 696,
        "wires": [
            [
                "7ccd951152a6471b"
            ]
        ]
    },
    {
        "id": "7473ed659bed36e6",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "Stop stream",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 119.00001525878906,
        "y": 736,
        "wires": [
            [
                "267b34b6c61a4d0d"
            ]
        ]
    },
    {
        "id": "442a578ff0f74217",
        "type": "change",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pause",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 316.00001525878906,
        "y": 656,
        "wires": [
            [
                "888d44f9e29ba521"
            ]
        ]
    },
    {
        "id": "7ccd951152a6471b",
        "type": "change",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "resume",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 316.00001525878906,
        "y": 696,
        "wires": [
            [
                "888d44f9e29ba521"
            ]
        ]
    },
    {
        "id": "267b34b6c61a4d0d",
        "type": "change",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stop",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 306.00001525878906,
        "y": 736,
        "wires": [
            [
                "888d44f9e29ba521"
            ]
        ]
    },
    {
        "id": "e9ee5175dc69415a",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 스트리밍2 미구현",
        "info": "",
        "x": 130,
        "y": 800,
        "wires": []
    },
    {
        "id": "042a7b8dc792831c",
        "type": "http request",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.45.158:1880/image.JPEG",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 250,
        "y": 860,
        "wires": [
            [
                "f511875dcc8b650d"
            ]
        ]
    },
    {
        "id": "f511875dcc8b650d",
        "type": "base64",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 400,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "a09681486e6c8b95",
        "type": "inject",
        "z": "1b27cf5eb37c997e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 860,
        "wires": [
            [
                "042a7b8dc792831c"
            ]
        ]
    },
    {
        "id": "29f39af0c4d5202d",
        "type": "comment",
        "z": "1b27cf5eb37c997e",
        "name": "카메라 스트리밍3",
        "info": "",
        "x": 100,
        "y": 960,
        "wires": []
    },
    {
        "id": "9d21a7f1dd6f978c",
        "type": "ui_switch",
        "z": "e87d0029a296bd47",
        "name": "식물 LED",
        "label": "식물 LED",
        "tooltip": "",
        "group": "2da2e4e025b7a711",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 380,
        "y": 340,
        "wires": [
            [
                "6262e24241446cf8"
            ]
        ]
    },
    {
        "id": "9644730c489b6293",
        "type": "comment",
        "z": "e87d0029a296bd47",
        "name": "릴레이모듈 신호 Ture: OFF False: ON",
        "info": "",
        "x": 470,
        "y": 280,
        "wires": []
    },
    {
        "id": "bab23cbb32ba1324",
        "type": "comment",
        "z": "e87d0029a296bd47",
        "name": "LED 신호 Ture: ON False: OFF",
        "info": "",
        "x": 450,
        "y": 520,
        "wires": []
    },
    {
        "id": "1c9124e9.e36edb",
        "type": "inject",
        "z": "e87d0029a296bd47",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1749,
        "y": 2134,
        "wires": [
            []
        ]
    },
    {
        "id": "48a892ea.b7576c",
        "type": "debug",
        "z": "e87d0029a296bd47",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2145,
        "y": 2231,
        "wires": []
    },
    {
        "id": "39b991cafacae5fb",
        "type": "inject",
        "z": "e87d0029a296bd47",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1749,
        "y": 2154,
        "wires": [
            []
        ]
    },
    {
        "id": "1de02ad6c1464fc4",
        "type": "debug",
        "z": "e87d0029a296bd47",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 2145,
        "y": 2251,
        "wires": []
    },
    {
        "id": "df5c053af49c9311",
        "type": "ui_switch",
        "z": "e87d0029a296bd47",
        "name": "환풍기",
        "label": "환풍기",
        "tooltip": "",
        "group": "2da2e4e025b7a711",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "false",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "true",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 400,
        "wires": [
            [
                "85dedfd0ec137644"
            ]
        ]
    },
    {
        "id": "6262e24241446cf8",
        "type": "rpi-gpio out",
        "z": "e87d0029a296bd47",
        "name": "",
        "pin": "23",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 580,
        "y": 340,
        "wires": []
    },
    {
        "id": "85dedfd0ec137644",
        "type": "rpi-gpio out",
        "z": "e87d0029a296bd47",
        "name": "",
        "pin": "24",
        "set": true,
        "level": "1",
        "freq": "",
        "out": "out",
        "bcm": true,
        "x": 580,
        "y": 400,
        "wires": []
    }
]