Desktop/tenslowflow.JSON
[{"id":"fc5ed727.292ff8","type":"mjpg-consumer","z":"3319a85f.61cad8","name":"176p mjpeg","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=13&-usr=admin&-pwd=1029384756","interval":"1","x":200,"y":106,"wires":[["7de3cb40.b198c4"]]},{"id":"de3a3303.85cb7","type":"inject","z":"3319a85f.61cad8","name":"Start Consumer","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":110,"y":47,"wires":[["fc5ed727.292ff8"]]},{"id":"fb1f3c57.f99a","type":"inject","z":"3319a85f.61cad8","name":"Stop Consumer","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":110,"y":167,"wires":[["fc5ed727.292ff8"]]},{"id":"7de3cb40.b198c4","type":"file","z":"3319a85f.61cad8","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\176snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":360,"y":107,"wires":[[]]},{"id":"2213b52a.a478fa","type":"ui_template","z":"3319a85f.61cad8","group":"e342e4f3.b8e718","name":"176p Stream","order":1,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>176p Stream</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/><br/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":810,"y":107,"wires":[[]]},{"id":"1ebb4c57.c17954","type":"watch","z":"3319a85f.61cad8","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\176snap.jpg","recursive":"","x":520,"y":107,"wires":[["24efe028.d40df"]]},{"id":"24efe028.d40df","type":"function","z":"3319a85f.61cad8","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/176snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":107,"wires":[["2213b52a.a478fa"]]},{"id":"71c00e9c.1146a","type":"mjpg-consumer","z":"3319a85f.61cad8","name":"1080 Snap","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=11&-usr=admin&-pwd=1029384756","interval":"60","x":180,"y":590,"wires":[["9f2d3177.3d3b2"]]},{"id":"debd8224.81a62","type":"inject","z":"3319a85f.61cad8","name":"Start Consumer","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":113.66666793823242,"y":518.3333358764648,"wires":[["71c00e9c.1146a"]]},{"id":"43d4b5cc.a0b8dc","type":"inject","z":"3319a85f.61cad8","name":"Stop Consumer","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":111.66666793823242,"y":650.3333320617676,"wires":[["71c00e9c.1146a"]]},{"id":"9f2d3177.3d3b2","type":"file","z":"3319a85f.61cad8","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\1080snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":340,"y":590,"wires":[[]]},{"id":"3f90c007.bcaa","type":"mjpg-consumer","z":"3319a85f.61cad8","name":"352p mjpeg","stream":"http://192.168.1.116/mjpegstream.cgi?-chn=12&-usr=admin&-pwd=1029384756","interval":"20","x":180,"y":342,"wires":[["e9b6e684.4b7858"]]},{"id":"29cb94e5.4e2fbc","type":"inject","z":"3319a85f.61cad8","name":"Start Consumer","topic":"","payload":"start","payloadType":"str","repeat":"","crontab":"","once":true,"x":113.66666793823242,"y":278.33333587646484,"wires":[["3f90c007.bcaa"]]},{"id":"cb6609c3.697f68","type":"inject","z":"3319a85f.61cad8","name":"Stop Consumer","topic":"","payload":"stop","payloadType":"str","repeat":"","crontab":"","once":false,"x":111.66666793823242,"y":410.3333320617676,"wires":[["3f90c007.bcaa"]]},{"id":"e9b6e684.4b7858","type":"file","z":"3319a85f.61cad8","name":"Camera Capture","filename":"C:\\Users\\INSTAR\\.node-red\\static\\352snap.jpg","appendNewline":false,"createDir":false,"overwriteFile":"true","x":340,"y":342,"wires":[[]]},{"id":"4bc06e6.9d07c9","type":"ui_template","z":"3319a85f.61cad8","group":"28cbae81.817142","name":"352p Stream","order":2,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>352p Stream</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":810,"y":347,"wires":[[]]},{"id":"66aff9e4.4319e8","type":"watch","z":"3319a85f.61cad8","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\352snap.jpg","recursive":"","x":520,"y":347,"wires":[["166325ab.cf492a"]]},{"id":"166325ab.cf492a","type":"function","z":"3319a85f.61cad8","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/352snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":347,"wires":[["4bc06e6.9d07c9"]]},{"id":"e14df74b.311fc8","type":"ui_template","z":"3319a85f.61cad8","group":"b6452c1d.e36f3","name":"Static Image","order":2,"width":"6","height":"5","format":"<div height=\"210\" style=\"height: 210px;\">\n    <h2>1080p Snapshot</h2>\n    <img ng-src= {{msg.payload}} width=\"280\"/>\n    <a href=\"/1080snap.jpg\" target=\"_blank\"><button>Full screen</button></a>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":790,"y":591,"wires":[[]]},{"id":"33844b9f.a61164","type":"watch","z":"3319a85f.61cad8","name":"watch for pic","files":"C:\\\\Users\\\\INSTAR\\\\.node-red\\\\static\\\\1080snap.jpg","recursive":"","x":500,"y":591,"wires":[["909c1081.c92cf"]]},{"id":"909c1081.c92cf","type":"function","z":"3319a85f.61cad8","name":"timestamp","func":"var d = new Date();\nvar n = d.getTime();\nmsg.payload = \"/1080snap.jpg?ts=\" + n;\nreturn msg;","outputs":1,"noerr":0,"x":642,"y":591,"wires":[["e14df74b.311fc8"]]},{"id":"e342e4f3.b8e718","type":"ui_group","z":"","name":"176p MJPEG Stream","tab":"7a3391b6.03a81","order":2,"disp":true,"width":"6","collapse":false},{"id":"28cbae81.817142","type":"ui_group","z":"","name":"352p MJPEG Stream","tab":"7a3391b6.03a81","disp":true,"width":"6","collapse":false},{"id":"b6452c1d.e36f3","type":"ui_group","z":"","name":"1080p MJPEG Stream","tab":"7a3391b6.03a81","disp":true,"width":"6","collapse":false},{"id":"7a3391b6.03a81","type":"ui_tab","z":"","name":"Wiki Tutorial","icon":"dashboard","order":29}]